<% if (success && success.length) { %>
<!-- Success Message Block -->
<div
  class="alert alert-info text-center alert-dismissible fade show col-10 col-sm-6 offset-sm-3 mx-auto mt-2"
  role="alert">
  <!-- Display the success message passed from the server -->
  <%= success %>

  <!-- Button to close the alert message -->
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"></button>
</div>
<% } %> <% if (error && error.length) { %>
<!-- Error Message Block -->
<div
  class="alert alert-danger text-center alert-dismissible fade show col-10 col-sm-6 offset-sm-3 mx-auto mt-2"
  role="alert">
  <!-- Display the error message passed from the server -->
  <%= error %>

  <!-- Button to close the alert message -->
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"></button>
</div>
<% } %>
