<% layout("layouts/boilerplate") %>
<div class="row">
  <h3 class="offset-3 mb-3">SignUp on whatshapp</h3>
  <div class="col-10 offset-1 col-md-6 offset-md-3">
    <form method="POST" action="/login">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          placeholder="Enter Your name"
          class="form-control"
          id="username"
          name="username"
          required />
        <div class="valid-feedback">Name Looks Goods!</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          placeholder="Enter Your name"
          class="form-control"
          id="password"
          name="password"
          required />
        <div class="invalid-feedback">
          Password must same due to fill sighnup time
        </div>
      </div>
      <button class="btn btn-primary mt-2 mb-2">Login</button>
    </form>
  </div>
</div>
